html {
  background: #000520;
  color: #f0f0f0;
  font-size: 21px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
  height: 100dvh;
  display: grid;
  place-items: center;
}

main {
  text-align: center;
}

button {
  font-size: 12px;
  font-weight: bold;
  background: #001040;
  color: #fff;
  border: 1px solid #002080;
  padding: 0.25em 0.5em;
  border-radius: 4px;
}

button:hover {
  background: #001560;
}

.moonphase {
  display: flex;
  flex-direction: column;
}

.icon {
  text-align: center;
  font-size: 200px;
  line-height: 200px;
  height: 250px;
  width: 250px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
